.btn {
    width: 100%;
    padding: 15px 5px 15px 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    color:white;
}

.operators {
    border: none;
    font-weight: bolder;
    font-size: 2em;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);    
    color:black;
}

.equals {
    font-weight: bolder;
    font-size: 3em;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    color:black;
}

.ac {
    font-weight: bolder;
    font-size: 2em;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    color:white;
}

.equals:hover {
    box-shadow: 0px 0px 50px 5px rgba(0, 253, 152, 0.4);
    border-bottom: 5px solid lime;
}
.ac:hover {
    border-bottom: 5px solid lime;
}
.operators:hover {
    border-bottom: 5px solid lime;
}