<div class="theme" [ngClass]="lightTheme ? 'box-light' : 'box-dark'">
  <div class="container">
    <div class="top">
      <div>
        <h1 [ngClass]="lightTheme ? 'light' : 'dark'">Calculator</h1>
      </div>
      <div>
        <fa-icon class = "fa-3x" [ngClass]="lightTheme ? 'light' : 'dark'" [icon]="lightTheme ? faMoon : faSun" (click) = "switchTheme()"></fa-icon>
        <a href="https://github.com/onFilm" target="_blank"><fa-icon class = "fa-3x" [ngClass]="lightTheme ? 'light' : 'dark'" [icon]="faGithub"></fa-icon></a>
      </div>
    </div>
    <app-result-box [value]='expression'></app-result-box>
    <div id="snackbar">{{message}}</div>
    <div>
      <div class="table-dark">
        <div class="row">
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="7" (onClick)="onOperandClick($event)"></app-buttons>
          </div>
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="8" (onClick)="onOperandClick($event)"></app-buttons>
          </div>
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="9" (onClick)="onOperandClick($event)"></app-buttons>
          </div>
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="'+'" (onClick)="onOperatorClick($event)"
              [disable]="disable"></app-buttons>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="4" (onClick)="onOperandClick($event)"></app-buttons>
          </div>
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="5" (onClick)="onOperandClick($event)"></app-buttons>
          </div>
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="6" (onClick)="onOperandClick($event)"></app-buttons>
          </div>
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="'-'" (onClick)="onOperatorClick($event)"
              [disable]="disable"></app-buttons>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="1" (onClick)="onOperandClick($event)"></app-buttons>
          </div>
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="2" (onClick)="onOperandClick($event)"></app-buttons>
          </div>
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="3" (onClick)="onOperandClick($event)"></app-buttons>
          </div>
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="'*'" (onClick)="onOperatorClick($event)"
              [disable]="disable"></app-buttons>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="0" (onClick)="onOperandClick($event)"></app-buttons>
          </div>
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="'.'" (onClick)="onOperandClick($event)"></app-buttons>
          </div>
          <div class="col-sm">
            <app-buttons [btnStyle]="'ac'" [number]="'AC'" (onClick)="onACClick($event)"></app-buttons>
          </div>
          <div class="col-sm">
            <app-buttons [btnStyle]="'operators'" [number]="'/'" (onClick)="onOperatorClick($event)"
              [disable]="disable"></app-buttons>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <app-buttons [btnStyle]="'equals'" [number]="'='" (onClick)="onEqualClick($event)"></app-buttons>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>