.result {
    text-align: right;
    height: 2em;
    padding: 15px 5px 15px 5px;
    margin: 5px 5px 5px 5px;
    border-width: 10px;
    border-color: blueviolet;
    border-radius: 5px;
    background-color: mediumorchid;
    font-size: 100px;
    font-weight: bolder;
    color: whitesmoke;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }